<div class="stretch-section container">
	<div class="background-title">{{contactSection.backgroundTitle}}</div>
	<div class="title">{{contactSection.title}}</div>
	<div class="form-section">
		<div class="image-section">
			<div class="image">

				<img [src]="contactSection.image" alt="hello" width="100">
			</div>
			<div *ngFor="let contact of contactSection.contact;" class="information">
				<i [class]="contact.icon"></i>
				<div class="name">{{contact.name}}</div>
			</div>
		</div>

		<div class="tab">
			<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
				<input type="text" [placeholder]="contactSection.form.name" formControlName="name" />
				<input type="email" [placeholder]="contactSection.form.email" formControlName="email" />
				<textarea rows="4" [placeholder]="contactSection.form.message" formControlName="message"></textarea>
				<button type="submit" class="btn secondary">{{contactSection.form.action}}</button>
			</form>
		</div>
	</div>