.technology-tab {
	background-color: var(--background-color);
	color: var(--text-color);

	.title {
		font-size: 3rem;
		font-weight: 600;
		text-align: center;
		color: var(--primary-color);
	}

	.image-box {
		gap: 50px;
		flex-wrap: wrap;
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;


		div {
			text-align: center;
			position: relative;
			border-radius: 8px;
			overflow: hidden;
			background: var(--border-color);
			padding: 10px;

			opacity: 0 !important;
			transform: translateY(30px) !important;
			transition: all 0.8s ease !important;



			img {

				width: 160px;
				height: 110px;
				object-fit: contain;
				position: relative;
				border-radius: 8px;
				transition: transform 0.3s ease, filter 0.3s ease;

			}

			&::before {
				display: none;

			}

			&:hover img {
				transform: scale(1.2);

			}

			&.visible {
				transform: translateX(0);
				opacity: 1 !important;

			} 
			&:hover {
				background: transparent;
				border: 1px solid var(--primary-color);
			}
		}

		
	}
}