.technology-tab {
	background-color: var(--background-color);
	color: var(--text-color);

	.title {
		font-size: 3rem;
		font-weight: 600;
		text-align: center;
		color: var(--primary-color);
	}

	.image-box {
		gap: 50px;
		flex-wrap: wrap;
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;


		.box {
			text-align: center;
			position: relative;
			border-radius: 8px;
			overflow: hidden;
			background: var(--border-color);
			padding: 10px;
			opacity: 0;
			transform: translateY(40px);
			transition: all 0.6s ease;

			img {

				width: 160px;
				height: 110px;
				object-fit: contain;
				position: relative;
				border-radius: 8px;
				transition: transform 0.3s ease, filter 0.3s ease;

			}

			&:hover img {
				transform: scale(1.2);

			}

			&:hover {
				background: transparent;
				border: 1px solid var(--primary-color);
			}
		}

		.box.show {
			opacity: 1;
			transform: translateY(0);
		}
		
	}
}