.container {
	background-color: var(--background-color);
	background-image: url('/assets/images/background.png');
	display: flex;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;

	.content-column {
		flex: 2;

		.title {
			color: var(--primary-color);
			font-size: 5rem;
			font-weight: 600;
		}

		.content {
			height: fit-content;
			overflow: hidden;
			display: flex;
			padding: 20px 0;
			flex-direction: column;
			justify-content: center;
			padding-bottom: 40px;

			.text-container {
				margin-top: 25px;
				font-size: 20px;
				line-height: 1.9;
				color: var(--text-color);
				flex-wrap: wrap;
				font-weight: 500;
				opacity: 0;
				transform: translateY(100px);
				transition: all 0.6s ease-out;

				&.visible {
					transform: translatey(0);
					opacity: 1;
				}

				&:nth-child(0).visible {
					transition-delay: 0s;
				}

				&:nth-child(1).visible {
					transition-delay: 0.1s;
				}

				&:nth-child(2).visible {
					transition-delay: 0.2s;
				}

				&:nth-child(3).visible {
					transition-delay: 0.4s;
				}
			}
		}


		.action-btn {
			margin-top: 30px;
		}

	}

	.image-column {
		flex: 1;
		text-align: end;
		padding: 20px;
		display: flex;
		justify-content: end;

		img {
			height: 80%;
			width: 80%;
		}
	}

}


.container::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgb(0 0 0 / 90%);
	z-index: 0;
}

.container>* {
	position: relative;
	z-index: 1;
}