.container {
	background-color: var(--background-color);
	background-image: url('/assets/images/background.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;

	.content-column {

		.title {
			color: var(--primary-color);
			font-size: 5rem;
			font-weight: 600;
			text-align: center;
		}

		.about-box {
			border: 1px solid #4c4c4c;
			display: flex;
			margin-top: 20px;

			.left-content {
				flex: 1;
				display: flex;
				justify-content: center;
				flex-direction: column;
				border-right: 1px solid #4c4c4c;

				.left-content-container {
					width: 352px;
					height: auto;
					margin: 70px 0px 100px 200px;
					opacity: 0;
					transform: translateX(-50px);
					transition: all 0.6s ease;

					.content {
						display: flex;
						gap: 16px;
						flex-direction: column;

						.text-container {
							line-height: 1.8em !important;
							font-size: 16px !important;
							font: normal normal normal 16px / 1.4em 'open sans', sans-serif;
							color: var(--text-color);
						}
					}

					.action-btn {
						margin-top: 30px;
					}
				}

				.left-content-container.show {
					opacity: 1;
					transform: translateX(0);
				}
			}

			.image-column {
				flex: 1;
				display: flex;
				justify-content: center;
			}
		}
	}
}


.container::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgb(0 0 0 / 83%);
	z-index: 0;
}

.container>* {
	position: relative;
	z-index: 1;
}