.team-tab {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .head {
    position: sticky;
    top: 150px;

    .heading {
      margin-top: 40px;
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      color: var(--primary-color);

    }


    .tagline {
      margin-top: 20px;
      font-size: 18px;
      text-align: center;
      margin-bottom: 50px;
    }
  }


  .cards {
    position: sticky;
    top: 250px;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-top: 50px;

    .member {
      position: absolute;
      display: flex;
      margin-top: 80px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden;
      transition: transform 0.8s ease, opacity 0.8s ease;
      background: var(--primary-color);
      // opacity: 0;

      // &.visible {
      //   transform: translateX(0);
      //   opacity: 1;
      // }

      // &:nth-child(1).visible {
      //   transition-delay: 0s;
      // }

      // &:nth-child(2).visible {
      //   transition-delay: 0.1s;
      // }

      // &:nth-child(3).visible {
      //   transition-delay: 0.2s;
      // }

      .name {
        font-weight: 600;
        font-size: 20px;
        margin-right: 10px;
      }


      .img {
        background: white;
        width: 200px;
        height: 200px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .description {
        margin-left: 15px;
        max-width: 500px;


        .role {
          font-weight: 600;
          font-size: 20px;
          color: var(--primary-color);
        }

        .content {
          font-size: 16px;
          line-height: 1.9;
        }
      }
    }
  }

  .ml-40 {
    margin-left: 45%;
  }

  .ml-20 {
    margin-left: 25%;
  }


}