<div class="container team-tab">

  <div class="heading">Meet our TEAM</div>
  <div class="tagline">
    {{teamData.tagline}}
  </div>


  <div class="member" *ngFor="let members of teamData.members;let i = index" [ngClass]="{
    'ml-40': i === 0,
    'ml-20': i === 1
  }" #teamBox>
    <div class="name red"> {{members.name}}</div>
    <div class="img">
      <img [src]="members.image" alt="service-images">
    </div>

    <div>
      <div class="description">
        <div class="role"> {{members.designation}}</div>
        <div class="content">
          {{members.content}}
        </div>
      </div>
    </div>
  </div>


</div>