<div class="footer">
	<div class="wave-top"></div>
	<div class="section">
		<div class="company-name">
			<div>{{footerData.title}}</div>
			<div>{{footerData.slogan}}</div>
		</div>

		<div class="quick_link">
			<div *ngFor="let links of footerData.quick_links;" class="links"><a [href]="links.path">{{links.name}}</a>
			</div>

		</div>

		<div class="social_media">
			<a *ngFor="let links of footerData.social_media" [routerLink]="links.path">
				<i [class]="links.icon"></i>
			</a>
		</div>

	</div>


	<div class="footer-bottom">

		{{footerData.copyright}}
	</div>
</div>

