.footer {
	background-color: var(--background-color);
	color: var(--background-color);
	position: relative;
	z-index: 10000;
	cursor: default;

	.section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		background: var(--primary-color);
		padding: 40px;

		.social_media {
			display: flex;
			justify-content: center;
			align-items: center;

			a {
				margin: 5px;
				color: var(--background-color);

				i {
					font-size: 20px;
					padding: 5px;
					border: 1px solid var(--background-color);
					border-radius: 50%;
				}

				i:hover {
					color: var(--background-color);
					border: 2px solid var(--background-color);
				}
			}
		}

		.quick_link {
			display: flex;
			list-style: none;

			.links a {
				align-items: center;
				padding: 10px 20px;
				text-decoration: none;
				color: var(--background-color);
				font-size: 18px;
			}

			.links a:hover {
				color: var(--background-color)
			}
		}
	}

	.footer-bottom {
		background: var(--primary-color);
		padding: 10px 0;
		text-align: center;
		font-size: 16px;
		flex-wrap: wrap;
	}


	.wave-top {
		position: relative;
		height: 80px;
		background-color: #000;
		overflow: hidden;
	}

	.wave-top::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 200%;
		height: 100px;
		background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 100" xmlns="http://www.w3.org/2000/svg"><path fill="%23b1dd40" d="M0,30 C300,100 900,0 1200,30 L1200,0 L0,0 Z"/></svg>') repeat-x;
		animation: waveMove 10s linear infinite;
		transform: scaleY(-1);

	}

	@keyframes waveMove {
		0% {
			transform: scaleY(-1) translateX(0);
		}

		100% {
			transform: scaleY(-1) translateX(-50%);
		}
	}
}

// mobile responsive
@media (max-width: 768px) {
	.section {
		justify-content: center !important;
	}

	.links a {
		padding: 10px 10px !important;
		font-size: 16px !important;
	}

	.quick_link,
	.social_media {
		margin-top: 25px;
	}

	.company-name {
		text-align: center;
	}
}