<header class="header">
  <div class="container">
    <div class="content">
      <div class="logo">
        <h1>mishTech</h1>
      </div>

      <!-- Burger Menu for Mobile -->
      <button class="burger" (click)="toggleMenu()">
        ☰
      </button>

      <!-- Nav Menu -->
      <nav class="nav" [ngClass]="{'active': menuOpen}">
        <ul class="list">
          <li class="item">
            <a [routerLink]="['/']" fragment="service" class="link" (click)="closeMenu()">Services</a>
          </li>
          <li class="item">
            <a [routerLink]="['/']" fragment="technologies" class="link" (click)="closeMenu()">Technologies</a>
          </li>
          <li class="item">
            <a [routerLink]="['/']" fragment="growth" class="link" (click)="closeMenu()">Growth</a>
          </li>
          <li class="item">
            <a [routerLink]="['/']" fragment="review" class="link" (click)="closeMenu()">Testimonials</a>
          </li>
          <li class="item">
            <a [routerLink]="['/']" fragment="contact" class="link" (click)="closeMenu()">Contact</a>
          </li>
        </ul>
      </nav>

      <button class="overlay" [class.active]="menuOpen" (click)="closeMenu()"> </button>
    </div>
  </div>
</header>