.home-background {
	position: relative;
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-image: url('/assets/images/background.webp');
		background-size: cover;
		background-position: center;
		transform-origin: center;
		will-change: transform;
		animation: slow-zoom 25s linear infinite;
		z-index: 0;
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
			background-color: rgb(0 0 0 / 83%);
		z-index: 1;
	}

	.content {
		text-align: center;
		width: 80%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		 position: relative;
    z-index: 2;

		.description {
			font-size: 3rem;
		}

		.main {
			font-size: 3rem;
			font-weight: 800;
			transition: color 2s ease-in-out;
			text-transform: uppercase;
			color: var(--text-color);
		}

		.ideas {
			color: var(--primary-color);
			font-size: 4rem;
			text-align: center;
			font-weight: 600;
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
			animation: slideUp 3s ease-out infinite;
		}

		@keyframes slideUp {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}

			10% {
				transform: translateY(0);
				opacity: 1;
			}

			80% {
				transform: translateY(0);
				opacity: 1;
			}

			100% {
				transform: translateY(-100%);
				opacity: 0;
			}
		}

		.frames {
			width: fit-content;

			.primary {
				width: fit-content;
				transition: 1s;
				box-shadow: 6px 6px 0 black;
				transform: skewX(-15deg);

				span {
					transform: skewX(15deg);
				}

			}

			.primary:hover span:nth-child(2) {
				transition: 0.5s;
				margin-right: 45px;
			}

			path.one {
				transition: 0.4s;
				transform: translateX(-60%);
			}

			path.two {
				transition: 0.5s;
				transform: translateX(-30%);
			}

			.primary:hover path.three {
				animation: color_anim 1s infinite 0.2s;
			}

			.primary:hover path.one {
				transform: translateX(0%);
				animation: color_anim 1s infinite 0.6s;
			}

			.primary:hover path.two {
				transform: translateX(0%);
				animation: color_anim 1s infinite 0.4s;
			}

		}
	}

}

@keyframes color_anim {
	0% {
		fill: white;
	}

	50% {
		fill: var(--primary-color);
	}

	100% {
		fill: white;
	}
}

// mobile responsive
@media (max-width: 768px) {
	.home-background {
		align-items: baseline !important;
		height: fit-content;
	}

	.content {
		justify-content: baseline;
	}


	.description {
		margin-top: 35px;
		font-size: 1rem !important;
	}

	.main {
		margin-top: 35px;
		font-size: 1.8rem !important;

	}

	.ideas {
		margin-top: 35px;
		font-size: 1rem !important;
	}

	.frames {
		margin-top: 35px !important;
		margin-bottom: 20px !important;
	}

}

@keyframes slow-zoom {
	0% {
		transform: scale(1) translateZ(0)
	}

	50% {
		transform: scale(1.08) translateZ(0)
	}

	100% {
		transform: scale(1) translateZ(0)
	}
}