.home-background {
	width: 100%;
	height: 90vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.95);

	.right-circle {
		position: absolute;
		top: 0;
		right: 0;
		width: 250px;
		height: 250px;
		background: var(--accent-color);
		border-radius: 50%;
		opacity: 0.1;
		z-index: 0;
		filter: blur(5px);
	}

	.left-circle {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 250px;
		height: 250px;
		background: var(--secondary-color);
		border-radius: 50%;
		opacity: 0.1;
		z-index: 0;
		filter: blur(3px);
		animation: growShrinkGlow 4s ease-in-out infinite;
	}

	.content {
		text-align: center;
		width: 80%;
		height: 80%;
		line-height: 1.8;

		.description {
			font-size: 1.2rem;
			color: white;
		}

		.main {
			font-size: 6rem;
			font-family: 'Orbitron', sans-serif;
			transition: color 2s ease-in-out;
			text-transform: uppercase;
			color: var(--secondary-color);

		}

		.btn-primary {
			margin-top: 20px;
		}

		.tagline {
			margin-top: 20px;
			color: var(--accent-color);
			font-size: 3rem;
			text-align: center;
			transition: opacity 0.5s ease-in-out;
			opacity: 1;
			font-weight: 600;
			animation: slideUp 3s ease-out infinite;
		}

		@keyframes slideUp {
			0% {
				transform: translateY(100%);
				/* Start from below the container */
				opacity: 0;
			}

			10% {
				transform: translateY(0);
				/* Move to the center */
				opacity: 1;
			}

			80% {
				transform: translateY(0);
				/* Stay in the center */
				opacity: 1;
			}

			100% {
				transform: translateY(-100%);
				/* Slide to the top */
				opacity: 0;
			}
		}
	}

	.grid-patch {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: 10px;
		grid-gap: 5px;
		animation: bounceVertical 8s linear infinite alternate;
		overflow: hidden;
		padding: 2px;
	  }
  
	  .square {
		width: 10px;
		height: 10px;
		background-color: #1ABC9C33;
	  }
  
	  @keyframes bounceVertical {
		0% {
		  top: 0;
		}
		100% {
		  top: calc(100% - 180px); /* Adjust to match grid height inside container */
		}
	  }

}

@keyframes growShrinkGlow {
	0% {
		transform: scale(1);
		opacity: 0.1;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}

	50% {
		transform: scale(1.2);
		opacity: 0.1;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		opacity: 0.1;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
}

  