<div class="container review-tab">

	<div class="testimonial-section">
		<span class="heading">{{testimonials.header}}</span>
	</div>
	<div class="marquee-container">
		<div #marqueeRow1 class="marquee-row">
			<div class="card" *ngFor="let tab of getLoopedItems(testimonials.reviewItems, 20)">
				<img [src]="tab.image.src" [alt]="tab.image.alt">
				<div class="name">{{ tab.name }}</div>
				<div class="description">{{ tab.words }}</div>
			</div>
		</div>
	</div>

	<div class="marquee-container">
		<div #marqueeRow2 class="marquee-row">
			<div class="card" *ngFor="let tab of getLoopedItems(testimonials.reviewItems, 20)">
				<img [src]="tab.image.src" [alt]="tab.image.alt">
				<div class="name">{{ tab.name }}</div>
				<div class="description">{{ tab.words }}</div>
			</div>

		</div>
	</div>

</div>