.review-tab {
    padding: 70px 100px;
    background-color: var(--primary-color);
    color: var(--text-color);

    .testimonial-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        color: var(--background-color);

        .heading {
            font-size: 3rem;
        }

        .tagline {
            margin-top: 10px;
            font-size: 1rem;
        }
    }

    .marquee-container {
        overflow: hidden;
        white-space: nowrap;
        margin-top: 60px;

        .marquee-row {
            display: flex;

            .card {
                background: var(--background-color);
                border-radius: 8px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin: 0 10px;
                width: 600px;
                height: max-content;
                min-height: 300px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                box-sizing: border-box;
                overflow: hidden;


                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 10px;
                }

                .name {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                
                .description {
                    font-size: 1rem;
                    line-height: 1.5;
                    color: var(--text-color);
                    overflow: hidden;
                    white-space: normal;
                    overflow: visible;
                }

            }
        }

    }

}