<div class="review-tab container">
	<div class="heading">{{carouselItems.header}}</div>
	<div class="center-divs">
		<div class="carousel-container">

			<button class="arrow-button" (click)="moveLeft()">‹</button>

			<div class="divs-container">
				<div *ngFor="let item of visibleItems; let i = index" class="card"
					[class]="isActive(i) ? 'large-div' : 'small-div'" [attr.data-index]="i">
					<div class="div-content">
						<img [src]="item.image.src">
						<div class="title">{{ item.name }}</div>
						<div class="stars">

							<div class="star" *ngFor="let star of getStarsArray(item.rating)">★</div>
						</div>
						<div class="content">{{ item.words }}</div>
					</div>
				</div>
			</div>


			<button class="arrow-button" (click)="moveRight()">›</button>
		</div>
	</div>
</div>