<div class="custom-cursor" #customCursor>
  <div class="dot" #cursorDot></div>
</div>


<div [appLazyLoadObserver]="header"></div>
<div [appLazyLoadObserver]="home"></div>
<div [appLazyLoadObserver]="about"></div>
<div [appLazyLoadObserver]="services"></div>
<div [appLazyLoadObserver]="technologies"></div>
<div [appLazyLoadObserver]="team"></div>
<div [appLazyLoadObserver]="brand"></div>
<div [appLazyLoadObserver]="growth"></div>
<div [appLazyLoadObserver]="review"></div>
<div [appLazyLoadObserver]="taglineBlock"></div>
<div [appLazyLoadObserver]="contact"></div>
<div [appLazyLoadObserver]="footer"></div>