<div class="custom-cursor" #customCursor>
  <div class="dot" #cursorDot></div>
</div>


<div [appLazyLoadObserver]="header" id="header"></div>
<div [appLazyLoadObserver]="home" id="home"></div>
<!-- <div [appLazyLoadObserver]="about" id="about"></div> -->
<div [appLazyLoadObserver]="services" id="service"></div>
<div [appLazyLoadObserver]="technologies" id="technologies"></div>
<div [appLazyLoadObserver]="brand" id="brand"></div>
<div [appLazyLoadObserver]="growth" id="growth"></div>
<div [appLazyLoadObserver]="review" id="review"></div>
<div [appLazyLoadObserver]="taglineBlock" id="taglineBlock"></div>
<div [appLazyLoadObserver]="contact" id="contact"></div>
<div [appLazyLoadObserver]="footer" id="footer"></div>