<div class="container growth-tab">

    <div class="heading">
        <span class="title">{{growthContent.title}}</span>
        <span class="tagline">{{growthContent.tagline}}</span>
    </div>

    <div class="growth">
        <div class="card" *ngFor="let content of growthContent.growth;let i = index" #growthBox>
            <i [class]="content.icon"></i>
            <div class="number" [attr.data-count]="content.count">0
            </div>
            <div class="label">{{content.name}}</div>
        </div>
    </div>


</div>