<div class="container service">


    <div class="left-column">

        <div class="left-content">
            <div class="title">{{servicesData.title}}</div>
            <div class="tagline stroke-content">{{servicesData.tagline}}</div>
            
        </div>
    </div>


    <div class="right-content">
        @for (service of servicesData.services; track service.name) {
            <div class="tab">

                <div class="name">
                    {{service.name}}
                </div>
                <div class="description">
                    "{{service.content}}"
                </div>

            </div>
        }
    </div>
</div>