.serice-tab {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: center;

    .title {
        text-align: center;
        font-size: 3rem;
        color: white;
        font-weight: 600;
    }

    .tagline {
        margin-top: 15px;
        color: white;
        font-size: 1rem;
        font-weight: 600;
    }

    .service-content {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;


        .tab {
            background-color: white;
            border-radius: 10px;
            width: 300px;
            padding: 20px;
            text-align: center;
            font-size: 18px;
            color: var(--text-color);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            .name {
                font-weight: 600;
                font-size: 20px;
            }

            .description {
                font-size:16px;
                margin-top: 18px;
                line-height: 1.5;
            }

            .tab-images {
                margin-top: 20px;
                width: 25%;
                height: 20%;
                background-color: var(--secondary-color);
                border-radius: 50%;
                padding: 10px;
            }
        }

        .tab:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px 4px var(--text-color);
        }
    }
}

@media (max-width: 768px) {
    .services-content {
        grid-template-columns: 1fr;
    }
}