.serice-tab {
	background-color: var(--background-color);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	color: var(--text-color);
	position: relative;

	.left-content {
		position: sticky;
		top: 20%;

		.title {
			color:var(--primary-color);
			font-size: 5rem;
			font-weight: 600;
		}

		.tagline {
			margin-top: 15px;
			font-size: 2rem;
			font-weight: 600;

		}
	}


	.right-content {
		position: relative;

		.tab {
			position: sticky;
			top: 20%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 2rem;
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			margin-bottom: 0;
			border: 1px solid var(--text-color);
			padding: 20px;
			background-color: var(--background-color);

			.name {

				font-weight: 600;
				font-size: 20px;
			}

			.description {
				font-size: 18px;
				margin-top: 18px;
				line-height: 1.9;
			}


		}

		.tab:nth-child(1) {

			transform: rotate(0deg);
			z-index: 1;
		}

		.tab:nth-child(2) {
			margin-top: 40px;
			transform: rotate(3deg);
			z-index: 2;
		}

		.tab:nth-child(3) {
			margin-top: 40px;
			transform: rotate(-2deg);
			z-index: 2;
		}

	}
}

@media (max-width: 768px) {
	.serice-tab {
		grid-template-columns: 1fr !important;
		padding-bottom: 30px !important;
	}

	.title {
		text-align: center;
		font-size: 3rem !important;
	}

	.tagline {
		text-align: center;
		font-size: 1.5rem !important;
	}



}