/* You can add global styles to this file, and also import other style files */

:root {
    --background-color: #0F0F0F;
    --primary-color: #b1dd40;
    --hover-color: #F1BB30;
    --border-color: #2E2E2E;
    --text-color: #EAEAEA;
    --font-hedaing: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --medium-text: 25px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    cursor: none;


}

.container {
    padding: 50px 100px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-family: var(--font-hedaing);
    transition: background-color 0.3s ease;
    font-size: var(--medium-text);
    font-weight: 600;
}

.primary {
    background-color: var(--primary-color);
    color: var(--border-color);
}

.secondary {
    color: var(--primary-color);
    background: var(--background-color);
    transition: background-position 0.4s ease;
    background-size: 100% 200%;
}

.primary:hover {
    background-color: var(--background-color);
    color: white;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 7px var(--primary-color), 0 0 12px var(--primary-color);
    transition: box-shadow 0s ease;
}


.stroke-content {
    -webkit-text-stroke: 1px var(--text-color);
    color: var(--background-color) !important;

}


// mobile responsive
@media (max-width: 768px) {
    .container {
        padding: 20px 25px !important;
    }
}